extends layout

block content
  div.readHead
    a.button(href=cat.url+'/update') Update Category
    a.button(href=cat.url+'/image') Edit Image
    a.button(href=cat.url+'/delete') Delete Category
  div.border
    div.read
      p.entry.left Category 
      p.entry.right #{cat.name}
      p.entry.left Description
      p.entry.right #{cat.description}
      p.entry.left Image
      div.entry.right
        div.imgWrap
          img(src=imageURL alt="No Image")
      p.entry.left Sub Categorys
      div.entry.right
        div.list
          each subCat in subCats
            div.readSub
              a.readSubTitle(href=subCat.url) #{subCat.name}
              p.readSubText #{subCat.description}
          else
            p This Cat has no Sub Cats.