extends layout

block content

  h1 Category: #{cat.name}
  p #{cat.description}
  img(src=imageURL alt="No Image")
  div

    h4 subCats

    

    dl
      each subCat in subCats
        dt
          a(href=subCat.url) #{subCat.name}
        dd #{subCat.description}

      else
        p This Cat has no Sub Cats.

  hr
  p 
    a(href=cat.url+'/image') Edit Image
  p
    a(href=cat.url+'/delete') Delete Category
  p
    a(href=cat.url+'/update') Update Category 