extends layout

block content

  h1 Products: #{prod.name}
  p #{prod.description}
  p  Price : #{prod.price}
    
  hr
  p 
    a(href=prod.url+'/image') Edit Image
  p
    a(href=prod.url+'/delete') Delete Product
  p
    a(href=prod.url+'/update') Update Product