extends layout

block content
  div.readHead
    a.button(href=prod.url+'/update') Update Product
    a.button(href=prod.url+'/image') Edit Image
    a.button(href=prod.url+'/delete') Delete Product
  div.border
    div.read
      p.entry.left Products 
      p.entry.right #{prod.name}
      p.entry.left Description
      p.entry.right #{prod.description}
      p.entry.left Price
      p.entry.right #{prod.price} €
      p.entry.left Image
      div.entry.right
        div.imgWrap
          img(src=imageURL alt="No Image")