extends layout

block content
  h1 Delete Sub-Category: #{subCat.name}

  if products.length
    p #[strong Delete the following Products before attempting to delete this Sub Category.]
    div
      h4 Products
      dl
      each prod in products
        dt
          a(href=prod.url) #{prod.name}
        dd #{prod.description}
  else
    p Do you really want to delete this Sub-Category?
    form(method='POST' action='')
      div
        input(type='hidden',name='subcategoryid', required='true', value=subCat._id )
      button(type='submit') Delete


