extends layout

block content
  p.title Delete Sub-Category: #{subCat.name}

  if products.length
    p Delete the following Products before attempting to delete this Sub Category.
    div.list
      each prod in products
        div.readSub
                a.readSubTitle(href=prod.url) #{prod.name}
                p.readSubText #{prod.description}
  else if img !== null 
    p Delete the connected 
      a.marked(href="/shop/subcategory/"+subCat._id+"/image") Image
      |  before attempting to delete this Product
  else
    p Do you really want to delete this Sub Category?
    form(method='POST' action='')
      div
        input(type='hidden',name='subcategoryid', required='true', value=subCat._id )
      button.button(type='submit') Delete


